body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

h4 {
  font-size: 24px;
}
input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

#sortingOptions {
  margin-top: 10px;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 16px;
}

/* Movies Container Styles */
#moviesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}
label {
  margin-right: 10px;
}

#sortingOptions {
  margin-top: 10px;
}


.movie {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

.movie img {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 10px;
}

.movie-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.movie-rating {
  background-color: #333;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
}

.no-results {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

/* Pagination Styles */
#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-link {
  padding: 5px 10px;
  background-color: #eee;
  color: #333;
  text-decoration: none;
  margin-right: 5px;
  border-radius: 5px;
}

.pagination-link:hover {
  background-color: #ddd;
}

.pagination-link.active {
  background-color: #333;
  color: #fff;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#moviesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}
.modal-content {
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 800px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modalTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

#modalOverview {
  font-size: 16px;
  margin-bottom: 10px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modalReleaseDate,
#modalRuntime,
#modalGenres {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}


/* Movie Recommendations Styles */
#movieRecommendations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}
